<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://155.246.61.53:3306/newtweets?useUnicode=true&amp;characterEncoding=UTF8</property>
    <property name="hibernate.connection.username">lsa</property>
    <property name="hibernate.connection.password">stigmergy</property>
    <mapping resource="edu/stevens/decision/tweetconsumer/hibernate/entities/Follow.hbm.xml"/>
    <mapping resource="edu/stevens/decision/tweetconsumer/hibernate/entities/User.hbm.xml"/>
    <mapping resource="edu/stevens/decision/tweetconsumer/hibernate/entities/Dataset.hbm.xml"/>
    <mapping resource="edu/stevens/decision/tweetconsumer/hibernate/entities/Twse.hbm.xml"/>
    <mapping resource="edu/stevens/decision/tweetconsumer/hibernate/entities/Tweet.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
